@font-face {
    font-family: "Jakarta";
    src: url("assets/fonts/PlusJakartaSans.ttf");
}

@font-face {
    font-family: "Montserrat-Alternate";
    src: url("assets/fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
    font-family: "Aloevera";
    src: url("assets/fonts/Aloevera-OVoWO.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
}

:root {
    /* --accent-color: teal; */
    --accent-color: #00abb3;
    --light-color: white;
    --gray-color: rgb(221, 221, 221);
    --dark-color: rgb(27, 27, 27);
    --border-radius: 5px;
    --transition-duration: .4s;
}

html {
    scroll-behavior: smooth;
    font-family: "Nunito", "Sans Serif";

}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat-Alternate", "Sans Serif";
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--dark-color);
    font-weight: bold;
    text-decoration: none;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

a:hover {
    /* font-weight: lighter; */
    color: var(--accent-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
}

main {
    box-sizing: border-box;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    padding: 20px;
}

@media (max-width: 900px){
    main {
        width: 90%;
    }
}

h2,
h3 {
    color: var(--accent-color);
}

button {
    padding: 1em 2em;
    border-radius: calc(var(--border-radius) * 2);
    border: none;
    background-color: var(--accent-color);
    color: var(--light-color);
    font-weight: bold;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

button:hover {
    cursor: pointer;
    background-color: var(--dark-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
}

/* ------------------------ START NAVBAR ------------------------ */
#links a {
    margin-left: .5em;
    margin-right: .5em;
}

nav {
    /* box-shadow: 0px 0px 10px gray; */
    border-bottom: 1px solid var(--gray-color);
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--light-color);
}

#logo {
    font-size: larger;
    font-weight: bold;
    border-bottom: 4px solid var(--accent-color);
    padding-bottom: .05em;
}

#logo::after {
    width: 10px;
    height: 10px;
    padding-left: 1em;
    background-color: var(--accent-color);
}

#links {
    display: flex;
    align-items: center;
}

#theme-switch {
    display: flex;
    align-items: center;
}

#theme-switch:hover {
    cursor: pointer;
}

/* ---------------------- END NAVBAR ---------------------- */

/* ------------------------ START ABOUT ------------------------ */

#about {
    min-height: 100vh;
    /* padding-top: 2em; */
    box-sizing: border-box;
}

#about img {
    max-width: 40%;
    min-width: 400px;
    position: absolute;
    right: 7em;
    bottom: 0;
}

#about-text {
    max-width: 55%;
    line-height: 1.7em;
}

@media (max-width: 900px) {
    #about-text {
        display: flex;
        flex-direction: column-reverse;
        max-width: none;
    }
    #about img {
        position: relative;
        width: auto;
        height: auto;
        right: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ---------------------- END ABOUT ---------------------- */


#projects {
    /* min-height: 100vh; */
}

#contact {
    /* background-color: var(--gray-color); */
    min-height: 100vh;
}

/* ------------------------ START FOOTER ------------------------ */
footer {
    text-align: center;
    box-sizing: border-box;
    padding: 1em;
    
}

/* ---------------------- END FOOTER ---------------------- */

/* ------------------------ START SKILLS ------------------------ */

#skills {
    /* background-color: var(--gray-color); */
    /* min-height: 100vh; */
}

#skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    #skills-container {
        flex-wrap: wrap;
    }
}

.skill-set {
    margin: 1em;
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-item {
    background-color: var(--gray-color);
    margin: .2em;
    border-radius: 5px;
    padding: .2em;
    display: inline-block;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

.skill-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    transition-property: all;
    transition-duration: var(--transition-duration);
    color: white;
}

/* ---------------------- END SKILLS ---------------------- */

/* --------------------- START PROJECTS ---------------------- */

.project-img-container {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--gray-color);
}

.project img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    border: 2px solid var(--gray-color);
}

.projects-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.project {
    margin: .5em;
    text-align: right;
}

.project h3 {
    text-align: center;
}

@media (max-width: 900px) {
    .projects-container {
        flex-wrap: wrap;
    }
}

.project ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ---------------------- END PROJECTS ------------------------ */

/* ----------------------- START EXT LINKS ------------------- */
#external-links {
    font-size: larger;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#external-links a {
    /* margin: auto .3em; */
    box-sizing: border-box;
    border: 10px solid transparent;
}

/* ---------------------- END EXT LINKS ---------------------- */

/* ----------------------- START CONTACT ------------------- */

#contact form {
    display: grid;
    grid-template-areas:
        "name         email"
        "message      message"
        ".  sendmessage"
    ;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

@media (max-width : 900px) {
    #contact form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        height: 20vh;
    }
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#message {
    grid-area: message;
}

form button {
    grid-area: sendmessage;
}

input,
textarea {
    padding: 1em;
    /* margin: 1em; */
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid var(--gray-color);
}

/* ---------------------- END CONTACT ---------------------- */


/* ------------------------ START CUSTOM POINTER ------------------*/

#custom-pointer {
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    z-index: -50;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: .15s, width 1s, height 1s, opacity 1s;
}

/* ---------------------- END CUSTOM POINTER ---------------------- */
