@font-face {
    font-family: "Neus";
    src: url("assets/fonts/NeusaNextStdTrial-WideRegular-BF63ec3d6e7e6cd.otf");
}

@font-face {
    font-family: "Nunito";
    src: url("assets/fonts/Nunito-VariableFont_wght.ttf");
}

:root {
    /* --accent-color: teal; */
    --accent-color: #00abb3;
    --light-color: white;
    --gray-color: rgb(221, 221, 221);
    /* --dark-color: rgb(27, 27, 27); */
    --dark-color: #2c2c2c;
    --border-radius: 5px;
    --transition-duration: .4s;
}

html {
    scroll-behavior: smooth;
    font-family: "Nunito", "Sans Serif";
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Neus", "Sans Serif";
    font-weight: bold;
    letter-spacing: .3rem;
}

::selection {
    background-color: var(--accent-color);
    color: var(--light-color);
}

body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

body::-webkit-scrollbar-track {
    background: var(--gray-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-image:
        url("assets/bg/1.png"),
        url("assets/bg/2.png"),
        url("assets/bg/3.png"),
        url("assets/bg/4.png"),
        url("assets/bg/5.png");
    background-repeat: no-repeat;
    background-position: 
        0% 0%,
        50% 70%,
        100% 20%,
        70% 40%,
        0% 100%;
    background-size: auto;
}

a {
    color: var(--dark-color);
    font-weight: bold;
    text-decoration: none;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

a:hover {
    /* font-weight: lighter; */
    color: var(--accent-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
}

main {
    box-sizing: border-box;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    padding: 20px;
}

hr {
    border: .5px solid rgba(128, 128, 128, 0.39);
    width: 95vw;
}

p {
    color: var(--dark);
}

@media (max-width: 900px) {
    main {
        width: 90%;
    }
}

h2,
h3 {
    color: var(--accent-color);
    /* font-size: 2rem; */
    /* text-shadow: 0 0 3px #2c2c2c62; */
}

h2 {
    font-size: 2rem;
}

button {
    padding: 1em 2em;
    border-radius: calc(var(--border-radius) * 2);
    border: none;
    background-color: var(--accent-color);
    color: var(--light-color);
    font-weight: bold;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

button:hover {
    box-shadow: 0 5px 10px var(--accent-color);
    cursor: pointer;
    background-color: var(--dark-color);
    transition-property: all;
    transition-duration: var(--transition-duration);
}

.hgroup-with-icon {
    display: flex;
    align-items: center;
}

.hgroup-with-icon img {
    width: 2rem !important;
    display: block;
    aspect-ratio: 1/1;
    margin-right: 1rem;
}

/* ------------------------ START NAVBAR ------------------------ */
#links a {
    margin-left: .5em;
    margin-right: .5em;
}

nav {
    /* box-shadow: 0px 0px 10px gray; */
    border-bottom: 1px solid var(--gray-color);
    z-index: 100;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(10px);
}

#logo {
    font-size: larger;
    font-weight: bold;
    border-bottom: 4px solid var(--accent-color);
    padding-bottom: .05em;
}

#logo::after {
    width: 10px;
    height: 10px;
    padding-left: 1em;
    background-color: var(--accent-color);
}

#links {
    display: flex;
    align-items: center;
}

#theme-switch {
    display: flex;
    align-items: center;
}

#theme-switch:hover {
    cursor: pointer;
}

/* ---------------------- END NAVBAR ---------------------- */

/* ------------------------ START ABOUT ------------------------ */

#about {
    min-height: 100vh;
    /* padding-top: 2em; */
    box-sizing: border-box;
}

#about-text img {
    max-width: 40%;
    min-width: 400px;
    position: absolute;
    right: 7em;
    bottom: 0;
}

#about-text {
    max-width: 55%;
    line-height: 1.7em;
}

@media (max-width: 900px) {
    #about-text {
        display: flex;
        flex-direction: column-reverse;
        max-width: none;
    }

    #about-text img {
        position: relative;
        width: auto;
        height: auto;
        right: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ---------------------- END ABOUT ---------------------- */


#contact {
    /* background-color: var(--gray-color); */
    min-height: 100vh;
}

/* ------------------------ START FOOTER ------------------------ */
footer {
    text-align: center;
    box-sizing: border-box;
    padding: 1em;

}

/* ---------------------- END FOOTER ---------------------- */

/* ------------------------ START SKILLS ------------------------ */

#skills {
    /* background-color: var(--gray-color); */
    /* min-height: 100vh; */
}

#skills-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    #skills-container {
        flex-wrap: wrap;
    }
}

.skill-set {
    margin: 1em;
}

.skill-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skill-item {
    background-color: var(--gray-color);
    margin: .2em;
    border-radius: 5px;
    padding: .2em;
    display: inline-block;
    transition-property: all;
    transition-duration: var(--transition-duration);
}

.skill-item:hover {
    background-color: var(--accent-color);
    cursor: pointer;
    transition-property: all;
    transition-duration: var(--transition-duration);
    color: white;
}

/* ---------------------- END SKILLS ---------------------- */

/* --------------------- START PROJECTS ---------------------- */
.project {
    margin: 1rem;
    text-align: right;
    box-shadow: 0 0 10px var(--gray-color);
    background-color: var(--light-color);
    width: 300px;
    height: fit-content;
    position: relative;
    border-radius: 5px;
}



.project-img-container {
    height: 250px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--gray-color);
    position: relative;
}

.project img {
    object-fit: cover;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: 2px solid var(--gray-color);
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.project h3 {
    text-align: center;
    padding: .5rem 1rem .3rem 1rem;
    width: fit-content;
    font-size: smaller;
    z-index: 100;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: white;
    position: absolute;
    left: 1rem;
    max-width: 70%;
    box-shadow: 0 0 10px var(--accent-color);
}

@media (max-width: 900px) {
    .projects-container {
        flex-wrap: wrap;
    }
}

.project ul {
    list-style: none;
    margin: 1rem;
    padding: 0;
}

.project ul li {
    margin-bottom: .5rem;
}

.project__links {
    transform: scale(0);
    height: 0;
    transition: all .5s ease-out;
}

.project:hover .project__links {
    position: relative;
    height: auto;
    transform: scale(1);
    transition: all .5s ease-in;
}

.project__stack-list {
    max-width: 100%;
    margin: 0 1rem !important;
    text-align: center;
    box-sizing: border-box;
}

.project__stack-item{
    display: inline-block;
    background-color: var(--gray-color);
    border-radius: 10px;
    padding: 0 1rem;
    font-size: smaller;
    margin-left: .5rem;
    margin-right: .5rem;
}

.project p {
    text-align: center;
}

/* ---------------------- END PROJECTS ------------------------ */

/* ----------------------- START EXT LINKS ------------------- */
#external-links {
    font-size: larger;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#external-links a {
    /* margin: auto .3em; */
    box-sizing: border-box;
    border: 10px solid transparent;
}

/* ---------------------- END EXT LINKS ---------------------- */

/* ----------------------- START CONTACT ------------------- */

#contact form {
    display: grid;
    grid-template-areas:
        "name         email"
        "message      message"
        ".  sendmessage"
    ;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

@media (max-width : 900px) {
    #contact form {
        display: flex;
        flex-direction: column;
    }

    textarea {
        height: 20vh;
    }
}

#name {
    grid-area: name;
}

#email {
    grid-area: email;
}

#message {
    grid-area: message;
}

form button {
    grid-area: sendmessage;
}

input,
textarea {
    padding: 1em;
    /* margin: 1em; */
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 2px solid var(--gray-color);
}

/* ---------------------- END CONTACT ---------------------- */


/* ------------------------ START CUSTOM POINTER ------------------*/

#custom-pointer {
    width: 20px;
    height: 20px;
    background-color: var(--accent-color);
    z-index: -50;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: .15s, width .2s, height .2s, opacity 1s;
}

/* ---------------------- END CUSTOM POINTER ---------------------- */